
@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
    font-family: 'Mukta', sans-serif;
    height:100vh;
    min-height:550px;
    background-image: url(http://www.planwallpaper.com/static/images/Free-Wallpaper-Nature-Scenes.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    overflow-y: hidden;
}
a{
    text-decoration:none;
    color:#444444;
}
.login-reg-panel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    width:70%;
    right:0;left:0;
    margin:auto;
    height:400px;
    background-color: rgba(236, 48, 20, 0.9);
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login,
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;

}
.right-log{right:50px !important;}

.login-show,
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}

.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
a{
    text-decoration:none;
    color:#2c7715;
}
.snippet-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.snippet-fields input[type="checkbox"] {
    width: 20px;
}
.select2-container{
    width: 100% !important;
}

.bootstrap .pull-right {
    float: right!important;
}

element.style {
}
.bootstrap .pull-right {
    float: right!important;
    display: flex;
}
.bootstrap .nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.bootstrap ol, .bootstrap ul {
    margin-bottom: 8.5px;
    margin-top: 0;
}
.bootstrap .pull-right>li>a {
    border-radius: 3px;
}
.bootstrap .pull-right>li>a {
    padding: 10px 15px;
}

element.style {
}
.bootstrap .nav-pills>li>a {
    border-radius: 3px;
}
.bootstrap .nav>li>a {
    padding: 10px 15px;
}
.bootstrap .pull-right>li, .bootstrap .pull-right>li>a {
    display: block;
    position: relative;
}

.bootstrap .pull-right>li{
    text-align: center;
}
.bootstrap a {
    color: #00aff0;
    text-decoration: none;
}
[class^=process-icon-] {
    background: transparent;
    background-position: 50%;
    background-size: 26px;
    display: block;
    font-size: 28px;
    height: 30px;
    margin: 0 auto;
    width: 30px;
}
.process-icon-new-url:before, .process-icon-new:before, .process-icon-newAttributes:before, .process-icon-newCombination.toolbar-new:before, .process-icon-plus:before, .icon-plus-circle:before, .icon-plus-sign:before {
    content: "\F055";
}
.process-icon-cancel:before, .icon-close:before, .icon-remove:before, .icon-times:before {
    content: "\F00D";
}
.show-front-customer label {
    float: left;
    margin-right: 10px !important;
    font-size: 14px !important;
    color: #727171 !important;
    margin-top: 12px !important;
}